.BuildControls {
  width: 100%;
  border-radius: 20px;
  background-color: #cf8f2e;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  box-shadow: 0px 2px 1px #ccc;
  margin: auto;
  padding: 10px;
}

.OrderButton {
  background-color: #dad735;
  outline: none;
  cusror: pointer;
  border: solid 1px #966909;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #a0db41;
  border: solid 1px #966909;
  color: #966909;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: solid 1px #ccc;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enabled 0.3 linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
